.sizeContainerSearch {
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 50%;
  margin-top: 125px;
}

.btn:hover {
  color: white;
}
.btn-dark:hover {
  background-color: #504f4f;
}

.buttonRadius {
  border-radius: 20px;
}

@media (max-width: 540px) {
  .sizeContainerSearch {
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 90%;
    margin-top: 125px;
  }
}

@media (min-width: 540px) and (max-width: 960px) {
  .sizeContainerSearch {
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 60%;
    margin-top: 125px;
  }
}
