<div class="card colorLightGray containerProfile bordeRadiusContainer">
  <div class="row">
    <div class="col-12 col-sm-6 ">
        <div class="row mt-2">
          <div class="col-12">
            <div class="card colorDarkGray ml-2 mr-2">
                <div class="row">
                  <div class="col-4">
                    <!--img hexagon-->
                    <svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                      <defs>
                        <pattern id="img" patternUnits="userSpaceOnUse" width="100" height="100">
                          <image xlink:href="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" x="-25" width="150"
                            height="100" />
                        </pattern>
                      </defs>
                      <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img)" />
                    </svg>
                  </div>
                    <!--data user-->
                  <div class="col-8 mt-2">
                    <h6 class="informationUser">Nombre del usuario</h6>
                    <h6 class="informationUser">Desarrollador</h6>
                    <h6 class="informationUser">Departamento</h6>
                    <div class="">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card colorDarkGray m-2">
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
      <!--Carousel contact genoma -->
      <div class="row mt-2">
        <div class="col-12">
          <div class="card colorDarkGray ml-2 mr-2">
            <div class="card-body">
              <!--Component Carousel contact genoma -->
              <app-carousel-contact-user-genoma></app-carousel-contact-user-genoma>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <!--current skills -->
        <div class="col-6 ">
          <div class="card colorDarkGray ml-2 mr-2">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>

            </div>
          </div>
        </div>
        <!-- skills he / she wants to develop -->
        <div class="col-6 ">
          <div class="card colorDarkGray ml-2 mr-2">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <!--current skills -->
        <div class="col-6">
          <div class="card colorDarkGray ml-2 mr-2">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>

            </div>
          </div>
        </div>
        <!-- skills he / she wants to develop -->
        <div class="col-6 mb-2">
          <div class="card colorDarkGray ml-2 mr-2">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
