<div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="row mt-2">
    <div class="col-12">
      <app-search-person-or-job ></app-search-person-or-job>
      <!--<app-search-person-or-job (outputSelection)="dataSelectButton($event)"></app-search-person-or-job>-->
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <app-search-footer-filter></app-search-footer-filter>
     <!--<app-search-footer-filter [selectionJobOrPerson]="dataSelectText"></app-search-footer-filter>-->
    </div>
  </div>

</div>
