
  <div class="card-deck mr-1 ml-1">
    <!--Card 1-->
    <div class="card colorDarkGray bordeRadiusContainer">
      <div class="card-body">
        <h4>Title</h4>
        <p>Text</p>
      </div>
    </div>
    <!--Card 2-->
    <div class="card colorDarkGray bordeRadiusContainer">
      <div class="card-body">
        <h4>Title</h4>
        <p>Text</p>
      </div>
    </div>
    <!--Card 3-->
    <div class="card colorDarkGray bordeRadiusContainer">
      <div class="card-body">
        <h4>Title</h4>
        <p>Text</p>
      </div>
    </div>
    <!--Card 4-->
    <div class="card colorDarkGray bordeRadiusContainer">
      <div class="card-body">
        <h4>Title</h4>
        <p>Text</p>
      </div>
    </div>
  </div>
